* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#content {
  margin: auto;
  text-align: center;
  justify-content: center;
  width: fit-content;
}
#gridSizeButton {
  position: absolute;
  left: 1%;
  top: 1%;
  z-index: 1;
}
#grid {
  display: grid;
  justify-items: start;
  /* gap: 2px; */
}
#grid > * {
  background-color: rgba(165, 42, 42, 0.6);
  scale: 0.95;
}
#grid > *.on {
  animation: startHover 200ms ease-in forwards;
}
#grid > *.off {
  animation: endHover 550ms ease-out forwards;
}
@keyframes startHover {
  0% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: scale(1.05);
    filter: hue-rotate(180deg);
  }
}
@keyframes endHover {
  0% {
    transform: scale(1.05);
    filter: hue-rotate(180deg);
  }
  100% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}
